.keys {
    display: flex;
}
.key {
    display: inline-block;
    width: 20px;
    height: 60px;
    padding: 10px;
    font-size: xx-large;
    font-family: monospace;
    border: 1px solid black;
}
.bright {
    background-color: gold;
}
